# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=suma-dev-secret-key-2024-super-long-and-secure

# ZeroDev Configuration
NEXT_PUBLIC_ZERODEV_PROJECT_ID=1a5ad08a-64b2-4850-8047-7848bd70ae22
NEXT_PUBLIC_BUNDLER_URL=https://api.zerodev.app
NEXT_PUBLIC_PAYMASTER_URL=https://api.zerodev.app

# Alchemy RPC URLs (opcional - para desarrollo)
NEXT_PUBLIC_MAINNET_RPC=https://eth-mainnet.g.alchemy.com/v2/2Cceme6wGtZtIoSUNCGtx
NEXT_PUBLIC_POLYGON_RPC=https://polygon-mainnet.g.alchemy.com/v2/2Cceme6wGtZtIoSUNCGtx
NEXT_PUBLIC_OPTIMISM_RPC=https://opt-mainnet.g.alchemy.com/v2/2Cceme6wGtZtIoSUNCGtx
NEXT_PUBLIC_ARBITRUM_RPC=https://arb-mainnet.g.alchemy.com/v2/2Cceme6wGtZtIoSUNCGtx

# WalletConnect
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=00d89350911f0e4de546f0b038ff4c90